/***
    The new CSS reset - version 1.8.3 (last updated 21.1.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

:root{
  --color-text-blue: #093cd7;
  --color-text-white: #fff;
}

/* day/night button */

.nightMode{
  outline: none;
  background: #1a1a1a;
  height: 30px;
  width: 50px;
  border: none;
  border-radius: 19px;
  transform: scale(1);
  cursor: pointer;
}

.nightMode .circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
  transform: translateX(0%);
  transition: transform .3s ease;
  transform: scale(2);
}

.dawn{
  transform: scale(1);
  background: #fff;
}

.dawn .move{
  transform: translateX(200%) scale(2);
  background: #ffff00;
}


/* Geral */
body{
  background: #121212;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

strong{
  font-weight: 700;
}

.title{
  font-family: 'Lato Black';
  font-size: 3rem;
}

.title-branco{
  color: var(--color-text-white);
}

.subtitle{

}

.paragraph{
  font-family: 'Lato Regular';
  font-size: 1.2rem;
  color: var(--color-text-white);
}

.btn-call-to-action{
  padding: 20px 50px;
  text-align: center;
  border: 3px solid;
  display: inline-block;  
  background: transparent;
  color: var(--color-text-white);
  font-family: 'Lato';
  font-weight: bold;
  font-size: 2rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(180deg, #fff, #093cd7);
  margin: 0 auto;
  transition: .3s;
}

.btn-call-to-action:hover{
  transform: scale(1.1);
}

.char-blue{
  color: var(--color-text-blue);
  padding: 0;
  margin-left: -6px;
}

/* 1st content black */

.bg-sea{
  height: 100vh;
  background-image: url('../img/bg-sea.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.inicio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  margin: 0 auto;
}

.inicio-logo{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.inicio-logo a, .inicio-logo span{
  font-family: 'Oswald Regular', sans-serif;
}

.inicio-logo img{
  max-width: 48px;
  filter: grayscale(1);
}

.call-to-action{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  margin-top: 15vh;
  justify-content: center;
}

.call-to-action > p{
  margin-bottom: 150px;
}

/* seasparks */

.seaSparks{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 10vw;
  justify-content: center;
  align-content: center;
  position: relative;
  padding-top: 200px;
  padding-bottom: 400px;
  align-items: center;
  gap: 50px;
}

.seaSparks.white > h1, .seaSparks.white > .paragraph{
  color: #000;
}

.seaSparks.white > img{
  filter: invert(97%) sepia(3%) saturate(249%) hue-rotate(292deg) brightness(116%) contrast(100%);
}

.seaSparks img{
  position: absolute;
}

.seaSparks img:nth-of-type(1){
  top: 450px;
  left: 0;
}

.seaSparks img:nth-of-type(2){
  top: 10px;
  right: 0px;
}

.seaSparks img:nth-of-type(3){
  top: 600px;
  right: 0px;
}

.seaSparks .title{
  color: var(--color-text-white);
  max-width: 410px;
  padding: 20px 50px 20px 0px;
  border-right: 2px solid var(--color-text-blue);
}

.seaSparks .paragraph{
  max-width: 400px;
  justify-self: center;
}

/*  Associe-se */

.associate-container{
  display: grid;
  width: 80vw;
  margin: 0 auto;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto;
  color: var(--color-text-white);
  margin-bottom: 30vh;
  padding-top: 40px;
  gap: 40px;
  justify-content: center;
}

.callToAction-Associate{
  grid-row: 1/3;
  justify-self: end;
}

.callToAction-Associate h1{
  max-width: 401px;
  text-align: start;
}

.callToAction-Associate a{
  display: inline-block;
  padding: 15px 40px;
  margin-top: 40px;
  background-color: var(--color-text-blue);
  font-family: 'Lato Black', sans-serif;
  font-size: 1rem;
  border-radius: 16px;
  transition: .3s;
  cursor: pointer;
  color: #fff;
}

.callToAction-Associate a:hover{
  opacity: 0.8;
}

.card:nth-of-type(2), .card:nth-of-type(4){
  justify-self: end;
} 

.associate-container.white .card{
  color: #fff;
  background: linear-gradient(180deg, rgba(9, 60, 215, 0) 0%, #093CD7 0%);
  box-shadow: #000 0px 0px 10px 1px;
}

.card{
  background: linear-gradient(180deg, rgba(9, 60, 215, 0) 9.1%, #093CD7 102.33%);
  border-radius: 27px;
  height: 330px;
  font-family: 'Lato';
  padding: 20px;
  max-width: 320px;
  transition: 0.3s;
}

.card:hover{
  scale: 1.1;
}
.card img{
  margin-top: 20px;
}

.card p,.card h2{
  text-align: center;
}

.card h2{
  font-size: 1.2rem;
  margin: 20px 0px;
  font-weight: 700;
}

.card i{
  margin-top: 10px;
  font-size: 42px;
}

.cases-container{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 2fr ;
  color: #fff;
}

.cases-container p, .cases-container a{
  color: var(--color-text-white);
}

.cases-container div{
  text-align: center;
  height: max-content;
  align-self: center;
}

.cases-container a{
  display: inline-block;
  padding: 15px 46px 15px 40px;
  margin-top: 20px;
  background-color: var(--color-text-blue);
  font-family: 'Lato Black', sans-serif;
  font-size: 1rem;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.cases-container a:hover{
  opacity: 0.8;
}

.cases-container a > i{
  position: absolute;
  top: 16.5px;
  right: 26px;
}

/* gallery */

.gallery-container{
  position: relative;
  padding-top: 70px;
}

.gallery-container.white{
  background-color: transparent;
}

.gallery-container.white span{
  color: #d2d2d2;
  background-color: transparent;
}

.gallery-container span{
  font-family: "Gobold Hollow";
  font-weight: 700;
  font-size: 48px;
  position: absolute;
  z-index: -1;
  max-width: 400px;
  color: #0D0D0D;
}

.photos-grid{
  padding-top: 90px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0px;
  justify-content: space-between;
}

.photos-grid .img-small{
  max-width: 290px;
  border-radius: 11px;
  height: 190px;
}

.photos-grid .img-big{
  max-width: 390px;
  border-radius: 11px;
}

.clow-fish{
  position: absolute;
  z-index: -1;
  width: 190px;
  margin-top: 20vh;
}

/* Faq */

.faq-bg{
  background-color: #fff;
  padding: 40px;
  margin-top: 140px;
}
.faq-bg.white{
  background-color: #121212;
}

.faq-bg.white .title{
  color: #00A3FF;
}

.faq-bg.white .faq-question{
  border-image-source: linear-gradient(-90deg, #121212, #00A3FF);
  color: #00A3FF;
}

.faq-bg.white .faq-anwser p{
  color: #fff;
}

.faq-bg.white .faq-question img{
  filter: invert(68%) sepia(56%) saturate(7489%) hue-rotate(177deg) brightness(104%) contrast(105%);
}

.faq-bg .title{
  color: var(--color-text-blue);
  text-align: center;
  margin-bottom: 40px;
}

.faq-accordion{
  width: 80vw;
  margin: 0 auto;
}

.faq-question{
  display: flex;
  padding: 20px 0;
  gap: 20px;
  color: var(--color-text-blue);
  font-size: 1.7rem;
  font-family: "Lato0" ,sans-serif;
  font-weight: 700;
  cursor: pointer;
  border-bottom:3px solid;;
  border-image-slice: 1;
  border-image-source: linear-gradient(-90deg, #fff, #093cd7);
}
.faq-question img{
  max-width: 24px;
  filter: invert(19%) sepia(91%) saturate(2751%) hue-rotate(223deg) brightness(89%) contrast(114%);
  display: none;
}

.faq-question img.active{
  display: block;
}

.faq-anwser{
  padding: 10px 20px;
}

.faq-anwser p{
  font-size: 1rem;
  font-family: "Lato";
  font-weight: 300;
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  font-weight: 300;
}


/* footer */

.divider-blue{
  height: 90px;
  width: 100vw;
  background-color: var(--color-text-blue);
}


.footer-container{
  display: flex;
  background-color: #121212;
  justify-content: center;
  gap: 50px;
  font-family: "Lato", sans-serif;
  padding: 90px 0;
  position: relative;
  color: #fff;
}

.footer-container > img{
  height: 100px;
  align-self: center;
}

.footer-container h2{
  color: #093CD7;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.footer-container p{
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.footer-container a{
  display: block;
  font-size: 1.2rem;
  padding: 10px 5px;
  transition: .3s;
}

.footer-container a:hover{
  color: #093CD7;
}

.footer-container .contact a {
  display: inline-block;
  font-size: 36px;
  padding: 20px 20px 20px 0px;
  color: #fff;
}



.row-divider{
  background-color: #484848;
  width: 60%;
  height: 1px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}


/* Modal */

.modal{
  position: fixed;
  z-index: 999;
  width: 500px;
  /* height: calc(max-height); */
  padding: 50px;
  box-shadow: 0px 0px 20px 10px #0D0D0D;
  background-color: #121212;
  border-radius: 20px;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-white);
  display: none;
}

.modal-on{
  display: block;
}

.modal p, h1{
  text-align: center;
}

.modal p{
  opacity: 0.8;
}

.modal h1{
  padding: 10px 0;
}

.modal-form{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-areas: 
    "email email btn"
    "terms terms terms";
}

.modal-form .email-input{
  background-color: #D8E7EC;
  padding: 20px;
  grid-area: email;
  color: #121212;
}

.modal-form .email-input::placeholder{
  color: #B2B9C3;
}

.modal-form .submit-btn{
  grid-area: btn;
  background-color: #093CD7;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.modal-form .submit-btn:hover{
  scale: 1.1;
}

.check-container{
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
  grid-area: terms;
  padding-top: 2px;

  margin: 20px auto;
}

.check-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check-container .checkmark{
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #D8E7EC;
  top: 0px;
  left: 0;
}

.check-container:hover input ~ .checkmark {
  opacity: .6;
}

.check-container input:checked ~ .checkmark {
  background-color: #093CD7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Responsive */

@media (max-width: 1300px) {
  .photos-grid{
    max-width: 900px; 
    justify-content: center;
    gap: 20px;
  }

  .photos-grid .img-small{
    max-width: 390px;
    height: auto;
  }
}

@media (max-width: 1100px) {
  .seaSparks{
    padding-bottom: 300px;
  }

  .seaSparks .title{
    border-right: none;
    border-bottom: 2px solid var(--color-text-blue);
    padding: 40px 0;
    text-align: center;
    max-width: 600px;
  }

  .seaSparks .paragraph{
    text-align: center;
    max-width: 500px;
  }

  .associate-container{
    grid-template-columns:  1fr 1fr;
    justify-content: center;
  }

  .callToAction-Associate{
    grid-row: 1/2;
    grid-column: 1/3;
    justify-self: center;
    text-align: center;
  }
  .callToAction-Associate h1{
    text-align: start;
  }
}

@media (max-width: 768px){
  .photos-grid .img-big{
    display: none;
  }

  .associate-container{
    grid-template-columns: 1fr;
    margin-bottom: 15vh;
  }
  .callToAction-Associate, .callToAction-Associate h1{
    grid-column: 1/2;
    text-align: center;
  }

  .card:nth-of-type(2){
    justify-self: center;
  }

  .card:nth-of-type(3){
    justify-self: center;
  }

  .card:nth-of-type(4){
    justify-self: center;
  }

  .card:nth-of-type(5){
    justify-self: center;
  }

  .cases-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "cases cases cases cases"
      "photo1 photo2 photo3 photo4";
  }

  .cases-container > div{
    grid-area: cases;
    padding-bottom: 5vh;
  }

  .footer-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-container .contact{
    text-align: center;
    width: 400px;
  }

  .footer-container .agency{
    text-align: center;
    width: 400px;
  }

  .footer-container > img{
    width: 400px;
  }
}

@media (max-width: 430px) {

  .seaSparks img:nth-of-type(1){
    display: none;
  }

  .seaSparks img:nth-of-type(3){
    top: 700px;
    left: 0;
  }

  .gallery-container > span{
    max-width: 280px;
    font-size: 36px;
  }

  .photos-grid .img-small {
    max-width: 290px;
    height: auto;
}

  .faq-question{
    font-size: 1rem;
  }
}

.white{
  background-color: #fff;
  color: #000 !important;
}


